<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Hello</h1>

<ul>{% for book in books %}
    <li>book title: {{ book.title }}
        <ul>
            <li>author: {% for author in book.author.all %} {{ author.name }} {{ author.surname }} {% endfor %}</li>
            <li>publisher: {{ book.publisher.name }}</li>
            <li>publication date: {{ book.publication_date }}</li>
            <li>category: {% for category in book.category.all %}{{ category.name }}{% endfor %}</li>
        </ul>
    </li>
    {% endfor %}
</ul>
</body>
</html>